body {
    font-family: "Inter";
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: end;
}

button {
    font-family: "Inter";
    padding: 10px;
    background-color: lightgray;
    border: 0px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer; 
    background-color: rgb(189, 187, 187);
    transition: 500ms; 
}

.menu {
    border-radius: 5px;
    margin-top: 45px;
    margin-left: 45px;
    width: 248px;
    height: 55px;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.578);
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.menu button {
    background-color: aliceblue;
}

.menu button:hover {
    cursor: pointer; 
    background-color: rgb(189, 187, 187);
    transition: 500ms; 
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 70px);
    align-items: center;
    justify-content: center;
}

.calendario {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    background-color: rgba(199, 141, 220, 0.586);
    max-width: 550px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 8px;
}

.nombre_dia {
    text-align: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
}

ol li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background-color: rgba(199, 141, 220, 0.586);
    margin-top: 15px;
}

.nombre_dia:hover {
    background-color: white;
    cursor: default;
}

ol li:hover {
    background-color: rgba(177, 109, 161, 0.729);
    cursor: pointer;
}

ol li:focus {
    
    background-color: rgba(137, 43, 226, 0.766);
}

a {
    color: black;
    text-decoration: none;
}

.mes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}