body {
    font-family: "Inter";
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: end;
}

.opciones {
    border-radius: 5px;
    border: 0.5px solid rgba(30, 30, 30, 0.275);
    margin: 45px;
    height: 525px;
    width: 1425px;
    box-shadow: 3px 3px 10px lightgray;
}

h3 {
    text-indent: 20px;
}

.botones button {
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 15px;
    padding-top: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 3px;
}

button {
    font-family: "Inter";
    padding: 5px;
    background-color: lightgray;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    cursor: pointer; 
    background-color: rgb(189, 187, 187);
    transition: 500ms; 
}

.boton {
    margin: 50px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 10px;
    border-radius: 8px;
}

a:hover {
    background-color: brown;
    transition: 300ms;
    color: white;
}

a:active {
    background-color: rgb(197, 63, 63);
    transition: 100ms;
}


