body {
    font-family: "Inter";
    font-weight: 400;
}

button {
    font-family: "Inter";
    padding: 10px;
    background-color: lightgray;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    cursor: pointer; 
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 300ms; 
}

.panel {
    margin-top: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.datos {
    margin-top: 120px;
    display: block;
    justify-content: center;
    align-items: center;
}

p::before, p::after {
    content: " ̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶̶ ̶̶̶̶ ̶̶ ̶̶̶ ̶̶̶̶ ̶̶̶̶̶  ";
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}

.form input {
    font-family: 'Inter';
    border: 2px solid rgba(121, 121, 121, 0.486);
    border-radius: 8px;
    padding: 5px;
}