body {
    font-family: "Inter";
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: end;
}

button {
    font-family: "Inter";
    padding: 10px;
    background-color: lightgray;
    border: 0px;
    border-radius: 5px;
}

.menu {
    border-radius: 5px;
    margin-top: 45px;
    margin-left: 45px;
    width: 248px;
    height: 55px;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.578);
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.menu button {
    background-color: aliceblue;
}

button:hover {
    cursor: pointer; 
    background-color: rgb(189, 187, 187);
    transition: 500ms; 
}

button:active {
    background-color: rgb(78, 78, 78);
}

.panel_crear {
    border-radius: 5px;
    border: 0.5px solid rgba(30, 30, 30, 0.275);
    margin: 45px;
    height: 525px;
    width: 1425px;
    box-shadow: 3px 3px 10px lightgray;
}

h3 {
    text-indent: 20px;
}

.actu {
    display: flex;
    height: 525px;
}

.agregar {
    text-align: center;
    background-color: rgb(235, 48, 48);
    color: black;
    margin: 45px;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    transition: 300ms;
    line-height: 40px;
    font-size: 18px;
}

a {
    text-decoration: none;
    background-color: rgb(235, 48, 48);
    color: black;
}

a:hover {
    background-color: brown;
    cursor: pointer;
    color: white;
    transition: 300ms;
}

a:active {
    background-color: rgb(105, 16, 16);
    color: black;
    transition: 300ms;
}

.form {
    margin-top: 150px;
    margin-left: 250px;
}

.form input {
    font-family: 'Inter';
    border: 2px solid rgba(121, 121, 121, 0.486);
    border-radius: 8px;
    padding: 5px;
}

.form button {
    margin-left: 45px;
}

img {
    margin-left: 100px;
}